@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

.common-properties{
    border-radius: 0.7rem;
    background: white;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 0.5rem;
}

.a-welcome h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    height: 2rem;
    margin-bottom: 0;
    font-weight: 800;
}

.a-welcome span{
    font-size: 0.9rem;
    font-weight: 500;
}

.container{
    margin-left: -1rem;
}

.insights{
    height: 8rem;
    width: 100%;
    padding: 0.5rem;
}

.insights-content{
    margin: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.insights-content .left-content h2{
    height: 2.5rem;
}

.left-content span{
    font-size: 0.85rem;
    font-weight: 500;
}

.left-content .percent{
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    padding: 0.2rem;
    margin: 0 auto;
    background: #adf3de;
    color: darkgreen;
    border-radius: 0.3rem;
    filter: contrast(1.2);
}

.left-content .percent{
    font-size: 13px;
}

.left-content .percent i {
    transform: rotate(40deg);
}

.left-content .low-percent{
    background: #fbb7b7;
    color: red;
}

.insight-graph-container{
   padding: 10px;
   background: lightcyan;
}

.loss{
    background: #fbb7b7;
}

.total-sales{
    height: 19rem;
}

.head h4{
    height: 1.5rem;
    font-size: 1.2rem;
}

.sales-distribution{
    height: 19rem;
}

.recent-orders{
    height: 13.5rem;
}

.customers{
    height: 13.5rem;
}


